<div class="main">
    <div id="create-model">
        <div class="title">
                <p>1 - Criar Modelo</p>
        </div>
        <div class="content body">
            <div class="row col-md-6">
                <a href="https://blog.even3.com.br/crachas-para-eventos-academicos/" target="_blank" style="font-size:25px;">Dica: Templates</a>
                <div class="form-group col-md-6">
                    <label class="btn btn-primary" for="layout-badge" type="file">Layout do crachá&hellip;</label>
                    <span class="upload"></span>
                    <input  type= "file"
                            accept="image/*"
                            class= "btn btn-primary"
                            label= false
                            id= "layout-badge"
                            div= false
                            (change)="getImageBadge($event);"
                            style="display: none;">
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div id="div-badge" class="card-body" style="text-align: center; vertical-align: middle; overflow: hidden;">
                            <img id="img-badge" src="http://placehold.it/600x800" alt="your image"/><br>
                            <a class="text" id="text-name" [ngStyle]="getStyleAttribute(attributes[0].name)">{{attributes[0].value}}</a><br>
                            <a class="text" id="text-institution" [ngStyle]="getStyleAttribute(attributes[1].name)">{{attributes[1].value}}</a><br>
                            <a class="text" id="text-subscription" [ngStyle]="getStyleAttribute(attributes[2].name)">{{attributes[2].value}}</a><br>
                            <a class="text" id="text-category" [ngStyle]="getStyleAttribute(attributes[3].name)">{{attributes[3].value}}</a><br>
                        </div>
                    </div>
                    <div class="body col-md-6" style="float: right">
                        <a style="font-size:25px;">Digite um exemplo que queira:</a>
                      <div class="form-control">
                        <label for="sell">scolha um modelo de folha:</label>
                        <select class="form-control paper-size" id="sell">
                          <option value="a4">A4</option>
                          <option value="a6">A6</option>
                          <option value="a7">A7</option>
                        </select>
                      </div>
                            <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Atributo</th>
                                            <th>Movimentação</th>
                                            <th>Tamanho</th>
                                            <th>Negrito</th>
                                            <th>Italico</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let attribute of attributes">
                                            <td>
                                                <input id="{{attribute.title}}-input" type="text" (keyup)="setValue(attribute.name)" placeholder="{{attribute.title}}" class="form-control" maxlength="20">
                                            </td>
                                            <td>
                                                    <button id="{{attribute.title}}-rigth" (click)="moveRight(attribute.name)" class="btn btn-primary btn-custom">→</button> 
                                                    <button id="{{attribute.title}}-left" (click)="moveLeft(attribute.name)" class="btn btn-primary btn-custom">←</button>
                                                    <button id="{{attribute.title}}-down" (click)="moveDown(attribute.name)" class="btn btn-primary btn-custom">↓</button>
                                                    <button id="{{attribute.title}}-top" (click)="moveTop(attribute.name)" class="btn btn-primary btn-custom">↑</button>
                                            <td>
                                                <button id="{{attribute.title}}-size_max" (click)="increaseFontSize(attribute.name)" class="btn btn-primary btn-custom">A+</button> 
                                                <button id="{{attribute.title}}-size_min" (click)="decreaseFontSize(attribute.name)" class="btn btn-primary btn-custom">a-</button>
                                            </td>
                                            <td style="text-align: center">
                                                <input type="checkbox" (click)="setNegrito(attribute.name)" value="{{attribute.negrito}}" class="checkmark">
                                            </td>
                                            <td style="text-align: center">
                                                <input type="checkbox" (click)="setItalico(attribute.name)" value="{{attribute.italico}}" class="checkmark">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="import-participants">
        <div class="title">
            <p>2 - Importar Participantes</p>
        </div>
        <div class="form-group textarea">
            <label for="participants">Copie o conteúdo da planilha excel, incluindo os cabeçalhos e cole aqui:</label>
            <textarea class="form-control" rows="5" id="participants" style="width: 70%;"></textarea>
            <button id="download" class="btn btn-primary" title="download" (click)="download()"> Baixar crachás</button>
        </div>
    </div>
</div>
